

        header {
            background-image: url(https://i.postimg.cc/T2SF739q/eugene-kuznetsov-q-BJmwk9m4z0-unsplash.jpg);
            background-size: cover;
            background-position: center center;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            position: relative;
          }

    body {
      
      font-family: BlinkMacSystemFont,
        sans-serif;
      font-size: 1.5rem;
      line-height: 1.;
      text-align: center;
      background-color: #d1ccc0;
      margin:15px;
    }
    title{
      text-align:center;
      
        }
    h1 {
      font-size:3rem;
        line-height: 2;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0;
      text-align:center; 
      margin-bottom: 0;
      text-align:center;
    }

      
  h3{
  font-size:1.5rem;
  }

  p:first-child{
    color: darkgreen;
  }


    


    footer {
        background-color: #eab543;
        color: #fff;
        padding:10px;
        text-align: center;
        z-index:100;
     }
    
    